<html>
<head>
  <link rel="stylesheet" href="code/www/custom.css">
</head>
 <table style="width:70%; color: #2d5973;" align = "center">
  <tr style="border-bottom:3px solid #2daed8;background-color: #f7f7f7;">
    <td style="width:10%"></td>
    <td style="border-left:3px solid #2daed8;width:25%"><spam style="font-size:22px;"><b>Childhood Vaccination</b></spam></td>
    <td style="border-left:3px solid #bfbfbf;width:25%;vertical-align:top"><spam style="font-size:22px;"><b>No Childhood Vaccination</b></spam></td>
  </tr>
  <tr>
    <td valign="top" style="border-right:3px solid #2daed8;background-color: #f7f7f7;border-bottom:3px solid #bfbfbf">
      <spam style="font-size:22px;"><b>No Variant</b></spam></br></td>
    <td style="background-color: #fdfdfd;width:300px;border-bottom:3px solid #bfbfbf;vertical-align:top">
      <spam style="font-size:22px;color:#2daed8;" class="right"><b>Scenario A</b></spam></br>
      <spam class="left" style="font-size:20px;"><b>Vaccination</b></spam></br>
      <spam class="left" style="font-size:18px;">- Vaccination among <b>5-11 years old</b> is approved and immunization begins on <b>Nov 1</b>.</br>
       - Each state's uptake rate reflects the percent coverage increases observed for <b>12-17 years olds</b> since distribution began an <b>May 13</b>.</spam>
       <hr style="border: 0.5px solid;border-color: #E4E4E4;margin-left:20px;margin-right:20px;margin-top:50px;">
      <spam style="font-size:20px;"><b>Variant</b></spam>
      <div style="font-size:18px;"> - The same mix of variants circulate throughout the projection period. No change in virus transmissibility</div></br>
    </td>
    <td style="border-left:3px solid #bfbfbf;background-color: #fdfdfd;border-bottom:3px solid #bfbfbf;vertical-align:top;">
      <spam style="font-size:22px;color:#2daed8;" class="right"><b>Scenario B</b></spam></br>
      <spam class="left" style="font-size:20px;"><b>Vaccination</b></spam></br> </br></br>
      <spam class="left" style="font-size:18px;">- <b>No vaccination</b> for children under 12 years old. </br> </br></spam>
      <hr style="border: 0.5px solid;border-color: #E4E4E4;margin-left:20px;margin-right:20px;margin-top:50px;">
      <spam style="font-size:20px;"><b>Variant</b></spam></br>
       <div style="font-size:18px;"> - The same mix of variants circulate throughout the projection period. No change in virus transmissibility</div></br>
    </td>
  </tr>
  <tr>
    <td valign="top" style="border-right:3px solid #2daed8;background-color: #f7f7f7;">
      <spam style="font-size:22px;"><b>New Variant</b></spam></br></td>
    <td style="background-color: #fdfdfd;">
     <spam style="font-size:22px;color:#2daed8;" class="right"><b>Scenario C</b></spam></br>
     <spam class="left" style="font-size:20px;"><b>Vaccination</b></spam></br>
      <spam class="left" style="font-size:18px;">- Vaccination among <b>5-11 years old</b> is approved and immunization begins on <b>Nov 1</b>.</br>
       - Each state's uptake rate reflects the percent coverage increases observed for <b>12-17 years olds</b> since distribution began an <b>May 13</b>.
       </br></spam>
      <hr style="border: 0.5px solid;border-color: #E4E4E4;margin-left:20px;margin-right:20px;margin-top:50px;">
     <spam style="font-size:20px;"><b>Variant</b></spam></br>
      <div style="font-size:18px;">- A more transmissible variant emerges, comprising 1% of circulating viruses on <b>Nov 15</b>.</div></br>
      <div style="font-size:18px;">- The new variant is <b>1.5X</b> as transmissible as viruses circulating at the beginning of the projection period.</div></br>
    </td>
    <td style="border-left:3px solid #bfbfbf;background-color: #fdfdfd;vertical-align:top;">
     <spam style="font-size:22px;color:#2daed8;" class="right"><b>Scenario D</b></spam></br>
     <spam class="left" style="font-size:20px;"><b>Vaccination</b></spam></br>  </br> </br>
      <spam class="left" style="font-size:18px;">- <b>No vaccination</b> for children under 12 years old.</br> </br></spam>
      <hr style="border: 0.5px solid;border-color: #E4E4E4;margin-left:20px;margin-right:20px;margin-top:50px;">
     <spam style="font-size:20px;"><b>Variant</b></spam></br>
      <div style="font-size:18px;">- A more transmissible variant emerges, comprising 1% of circulating viruses on <b>Nov 15</b>.</div></br>
      <div style="font-size:18px;">- The new variant is <b>1.5X</b> as transmissible as viruses circulating at the beginning of the projection period.</div></br>
    </td>
  </tr>
</table> 
</html>
