<html>
<head>
  <link rel="stylesheet" href="code/www/custom.css">
</head>
 <table style="width:70%; color: #2d5973;" align = "center">
  <tr style="border-bottom:3px solid #2daed8;background-color: #f7f7f7;">
    <td style="width:10%"></td>
    <td style="border-left:3px solid #2daed8;width:25%"><spam style="font-size:22px;"><b>Moderate NPI</b></spam><spam style="font-size:20px;"></br>(moderate NPI reduction)</spam></td>
    <td style="border-left:3px solid #bfbfbf;width:25%"><spam style="font-size:22px;"><b>Low NPI</b></spam><spam style="font-size:20px;"></br>(high NPI reduction)</spam></td>
  </tr>
  <tr>
    <td valign="top" style="border-right:3px solid #2daed8;background-color: #f7f7f7;border-bottom:3px solid #bfbfbf">
      <spam style="font-size:22px;"><b>High Vaccination</b></spam></br><spam style="font-size:20px;">(low hesistancy)</spam></td>
    <td style="background-color: #fdfdfd;width:300px;border-bottom:3px solid #bfbfbf">
      <spam style="font-size:22px;color:#2daed8;" class="right"><b>Scenario A</b></spam></br>
      <spam class="left" style="font-size:20px;"><b>Vaccination</b></spam></br>
      <spam class="left" style="font-size:18px;">Coverage saturates at <b>83% nationally</b> among the vaccine-eligible population* by October 31, 2021**</br> </br></spam>
     <hr style="border: 0.5px solid;border-color: #E4E4E4;margin-left:20px;margin-right:20px;margin-top:50px;">
      <spam style="font-size:20px;"><b>NPIs</b></spam>
      <div style="font-size:18px;"><b>50% reduction</b> from April 2021 to October 2021</div></br>
    </td>
    <td style="border-left:3px solid #bfbfbf;background-color: #fdfdfd;border-bottom:3px solid #bfbfbf">
      <spam style="font-size:22px;color:#2daed8;" class="right"><b>Scenario B</b></spam></br>
      <spam class="left" style="font-size:20px;"><b>Vaccination</b></spam></br>
      <spam class="left" style="font-size:18px;">Coverage saturates at <b>83% nationally</b> among the vaccine-eligible population* by October 31, 2021**</br> </br></spam>
     <hr style="border: 0.5px solid;border-color: #E4E4E4;margin-left:20px;margin-right:20px;margin-top:50px;">
      <spam style="font-size:20px;"><b>NPIs</b></spam>
      <div style="font-size:18px;"><b>80% reduction</b> from April 2021 to October 2021</div></br>
    </td>
  </tr>
  <tr>
    <td valign="top" style="border-right:3px solid #2daed8;background-color: #f7f7f7;">
      <spam style="font-size:22px;"><b>Low Vaccination</b></spam><spam style="font-size:20px;"></br>(high hesistancy)</spam></td>
    <td style="background-color: #fdfdfd;">
     <spam style="font-size:22px;color:#2daed8;" class="right"><b>Scenario C</b></spam></br>
     <spam class="left" style="font-size:20px;"><b>Vaccination</b></spam></br>
     <spam class="left" style="font-size:18px;">Coverage saturates at <b>68% nationally</b> among the vaccine-eligible population* by October 31, 2021**</br> </br></spam>
     <hr style="border: 0.5px solid;border-color: #E4E4E4;margin-left:20px;margin-right:20px;margin-top:50px;">
     <spam style="font-size:20px;"><b>NPIs</b></spam>
     <div style="font-size:18px;"><b>50% reduction</b> from April 2021 to October 2021</div></br>
    </td>
    <td style="border-left:3px solid #bfbfbf;background-color: #fdfdfd;">
     <spam style="font-size:22px;color:#2daed8;" class="right"><b>Scenario D</b></spam></br>
     <spam class="left" style="font-size:20px;"><b>Vaccination</b></spam></br>
     <spam class="left" style="font-size:18px;">Coverage saturates at <b>68% nationally</b> among the vaccine-eligible population* by October 31, 2021**</br> </br></spam>
     <hr style="border: 0.5px solid;border-color: #E4E4E4;margin-left:20px;margin-right:20px;margin-top:50px;">
     <spam style="font-size:20px;"><b>NPIs</b></spam>
     <div style="font-size:18px;"><b>80% reduction</b> from April 2021 to October 2021</div></br>
    </td>
  </tr>
</table> 
<hr style="border-top:1.5px dotted #bfbfbf;margin-left:15%;margin-right:15%;margin-top:50px">
</br>
<div style="font-size:18px;margin-left:15%;margin-right:15%;color: #2d5973"> * Vaccine-eligible population. The eligible population for vaccination is presumed to be individuals aged 16 years or older until June 1, 2021. On June 1, the eligible population is presumed to extend to individuals aged 12 years and older. </br></br>
** Vaccine hesitancy is expected to cause vaccination coverage to slow and eventually saturate at some level below 100%. The saturation levels provided in these scenarios are National reference points to guide defining hesitancy, though the speed of that saturation and heterogeneity between states (or other geospatial scales) and/or age groups are at the discretion of the modeling team. The high vaccination 83% saturation is defined using the current estimates from the Delphi group (link) from March 13, 2021 data. The low saturation estimate of 68% is the lowest county-level estimate from the U.S. Census Bureau’s Pulse Survey from March 15, 2021 data (link). Both of these saturation levels are assumed to be among the population eligible for vaccination, not the full population.</div>
</html>
