<html>
<head>
  <link rel="stylesheet" href="code/www/custom.css">
</head>
 <table style="width:70%; color: #2d5973;" align = "center">
  <tr style="border-bottom:3px solid #2daed8;background-color: #f7f7f7;">
    <td style="width:10%"></td>
    <td style="border-left:3px solid #2daed8;width:25%"><spam style="font-size:22px;"><b>No New Variant</b></spam></td>
    <td style="border-left:3px solid #bfbfbf;width:25%;vertical-align:top"><spam style="font-size:22px;"><b>New Variant X</b></spam></td>
  </tr>
  <tr>
    <td valign="top" style="border-right:3px solid #2daed8;background-color: #f7f7f7;border-bottom:3px solid #bfbfbf">
      <spam style="font-size:22px;"><b>Continuation of risk-focused booster policy</b></spam></br></td>
    <td style="background-color: #fdfdfd;width:300px;border-bottom:3px solid #bfbfbf;vertical-align:top">
      <spam style="font-size:22px;color:#2daed8;" class="right"><b>Scenario A</b></spam></br>
      <spam class="left" style="font-size:20px;"><b>No new Variant</b></br></spam></br></br>
      <div style="font-size:18px;">- Protection from natural immunity and VE against infection decrease over time due to waning, but not due to variant mix.</div>
      <div style="font-size:18px;">- Risk of severe disease conditional on infection remains unchanged.</div>
      </br></br></br>
       <hr style="border: 0.5px solid;border-color: #E4E4E4;margin-left:20px;margin-right:20px;margin-top:20px;">
      <spam style="font-size:20px;"><b>Continuation of risk-focused booster policy</b></spam></br>
      <div style="font-size:18px;">- <b>A third booster</b> recommendation is issued <b>October 1st, 2022 for adults 50+ and those with chronic conditions</b>, with reformulated vaccines.</br></div></br> 
      <div style="font-size:18px;">- Booster uptake among the previously vaccinated is reduced by <b>15%</b> compared to response to the first booster recommendation (<b>x0.85</b> 1st booster coverage). The distribution of who gets a booster among those for whom it is the 3rd, 4th or 5th dose of vaccine, and age differences in coverage within the 50+, is at the teams’ discretion.</br></div></br> 
      <div style="font-size:18px;">- Recommended time between booster doses is maintained.</br></div></br> 
    </td>
    <td style="border-left:3px solid #bfbfbf;background-color: #fdfdfd;border-bottom:3px solid #bfbfbf;vertical-align:top;">
      <spam style="font-size:22px;color:#2daed8;" class="right"><b>Scenario B</b></spam></br>
      <spam class="left" style="font-size:20px;"><b>New variant X</b></br></spam></br></br>
      <div style="font-size:18px;">- <b>50 infections</b> with variant X seeded <b>weekly from Sep 4th-Dec 24th</b> (16 weeks).</div>
      <div style="font-size:18px;">- Variant X has <b>40%</b> immune escape against infection (applies to VE and to protection from natural immunity).</div>
      <div style="font-size:18px;">- There is a <b>20%</b> increased risk of hospitalization and death with variant X,  relative to Omicron, conditional on infection and immune status.</div>
      <hr style="border: 0.5px solid;border-color: #E4E4E4;margin-left:20px;margin-right:20px;margin-top:20px;">
      <spam style="font-size:20px;"><b>Continuation of risk-focused booster policy</b></spam></br>
      <div style="font-size:18px;">- <b>A third booster</b> recommendation is issued <b>October 1st, 2022 for adults 50+ and those with chronic conditions</b>, with reformulated vaccines.</br></div></br> 
      <div style="font-size:18px;">- Booster uptake among the previously vaccinated is reduced by <b>15%</b> compared to response to the first booster recommendation (<b>x0.85</b> 1st booster coverage). The distribution of who gets a booster among those for whom it is the 3rd, 4th or 5th dose of vaccine, and age differences in coverage within the 50+, is at the teams’ discretion.</br></div></br> 
      <div style="font-size:18px;">- Recommended time between booster doses is maintained.</br></div></br>    
    </td>
  </tr>
  <tr>
    <td valign="top" style="border-right:3px solid #2daed8;background-color: #f7f7f7;">
      <spam style="font-size:22px;"><b>Expanded booster vaccination campaign</b></spam></br></td>
    <td style="background-color: #fdfdfd;">
     <spam style="font-size:22px;color:#2daed8;" class="right"><b>Scenario C</b></spam></br>
      <spam class="left" style="font-size:20px;"><b>No new Variant</b></br></spam></br></br>
      <div style="font-size:18px;">- Protection from natural immunity and VE against infection decrease over time due to waning, but not due to variant mix.</div>
      <div style="font-size:18px;">- Risk of severe disease conditional on infection remains unchanged.</div>
      </br></br></br>
      <hr style="border: 0.5px solid;border-color: #E4E4E4;margin-left:20px;margin-right:20px;margin-top:20px;">
     <spam style="font-size:20px;"><b>Expanded booster vaccination campaign</b></spam></br>
      <div style="font-size:18px;">- <b>A COVID-19 booster campaign starts on October 1st, 2022 for all adults 18+</b>, with reformulated vaccines.</br></div></br> 
      <div style="font-size:18px;">- Coverage of boosters progresses throughout fall 2022 in different age groups at a <b>10%</b> reduced coverage compared to the <b>2021-2022</b> flu vaccine coverage (<b>x0.9</b> flu vaccine coverage) ; whether individuals get a 2nd or 3rd booster is at teams discretion.</br></div></br>   
      <div style="font-size:18px;">- Boosters are recommended regardless of time since previous receipt of a booster.</br></div></br>
    </td>
    <td style="border-left:3px solid #bfbfbf;background-color: #fdfdfd;vertical-align:top;">
     <spam style="font-size:22px;color:#2daed8;" class="right"><b>Scenario D</b></spam></br>
     <spam class="left" style="font-size:20px;"><b>New variant X</b></br></spam></br></br>
      <div style="font-size:18px;">- <b>50 infections</b> with variant X seeded <b>weekly from Sep 4th-Dec 24th</b> (16 weeks).</div>
      <div style="font-size:18px;">- Variant X has <b>40%</b> immune escape against infection (applies to VE and to protection from natural immunity).</div>
      <div style="font-size:18px;">- There is a <b>20%</b> increased risk of hospitalization and death with variant X,  relative to Omicron, conditional on infection and immune status.</div>
      <hr style="border: 0.5px solid;border-color: #E4E4E4;margin-left:20px;margin-right:20px;margin-top:20px;">
      <spam style="font-size:20px;"><b>Expanded booster vaccination campaign</b></spam></br>
      <div style="font-size:18px;">- <b>A COVID-19 booster campaign starts on October 1st, 2022 for all adults 18+</b>, with reformulated vaccines.</br></div></br> 
      <div style="font-size:18px;">- Coverage of boosters progresses throughout fall 2022 in different age groups at a <b>10%</b> reduced coverage compared to the <b>2021-2022</b> flu vaccine coverage (<b>x0.9</b> flu vaccine coverage) ; whether individuals get a 2nd or 3rd booster is at teams discretion.</br></div></br>   
      <div style="font-size:18px;">- Boosters are recommended regardless of time since previous receipt of a booster.</br></div></br>   
    </td>
  </tr>
</table>
<hr style="border-top:1.5px dotted #bfbfbf;margin-left:15%;margin-right:15%;margin-top:50px">
</br>
<div style="font-size:18px;margin-left:15%;margin-right:15%;color: #2d5973">In all scenarios, the VE of reformulated boosters available starting Oct 1st, 2022 should be set to <b>80% against symptomatic disease</b> with non-immune escape strains.</div>
</html>
