<html>
<head>
  <link rel="stylesheet" href="code/www/custom.css">
</head>
 <table style="width:70%; color: #2d5973;" align = "center">
  <tr style="border-bottom:3px solid #2daed8;background-color: #f7f7f7;">
    <td style="width:10%"></td>
    <td style="border-left:3px solid #2daed8;width:25%"><spam style="font-size:22px;"><b>High Immune Escape</b></spam></td>
    <td style="border-left:3px solid #bfbfbf;width:25%;vertical-align:top"><spam style="font-size:22px;"><b>Low Immune Escape</b></spam></td>
  </tr>
  <tr>
    <td valign="top" style="border-right:3px solid #2daed8;background-color: #f7f7f7;border-bottom:3px solid #bfbfbf">
      <spam style="font-size:22px;"><b>Optimistic severity</b></spam></br></td>
    <td style="background-color: #fdfdfd;width:300px;border-bottom:3px solid #bfbfbf;vertical-align:top">
      <spam style="font-size:22px;color:#2daed8;" class="right"><b>Scenario A</b></spam></br>
      <spam class="left" style="font-size:20px;"><b>Immune Escape</b></br></spam></br></br>
      <div style="font-size:18px;">- Immune escape = <b>80% of previously immune are susceptible to infection</b></div>
      <div style="font-size:18px;">- All other transmission characteristics <b>at discretion of teams</b></div>
      <div style="font-size:18px;">- Lower levels of escape can be assumed for recently boosted individuals at discretion</div>
       <hr style="border: 0.5px solid;border-color: #E4E4E4;margin-left:20px;margin-right:20px;margin-top:50px;">
      <spam style="font-size:20px;"><b>Severity</b></spam></br>
      <div style="font-size:18px;">- <B>70%</B> reduction in severity of omicron infection, relative to Delta (all-age risk of hospitalization and death times 0.3; age-specific risks at teams discretion) among <em>all immune classes</em></br></div></br> 
      <span class="left" style="font-size:18px;"><em>Example:</em> A vaccinated person infected with Omicron has 30% the probability of death of a vaccinated person with Delta. Similarly, a naive person infected with Omicron has 30% the probability of death of a naive person infected with Delta.</span>
    </td>
    <td style="border-left:3px solid #bfbfbf;background-color: #fdfdfd;border-bottom:3px solid #bfbfbf;vertical-align:top;">
      <spam style="font-size:22px;color:#2daed8;" class="right"><b>Scenario B</b></spam></br>
      <spam class="left" style="font-size:20px;"><b>Immune Escape</b></br></spam></br></br>
      <div style="font-size:18px;">- Immune escape = <b>50% of previously immune are susceptible to infection</b></div>
      <div style="font-size:18px;">- All other transmission characteristics <b>at discretion of teams</b></div>
      <div style="font-size:18px;">- Lower levels of escape can be assumed for recently boosted individuals at discretion</div>
      <hr style="border: 0.5px solid;border-color: #E4E4E4;margin-left:20px;margin-right:20px;margin-top:50px;">
      <spam style="font-size:20px;"><b>Severity</b></spam></br>
      <div style="font-size:18px;">- <B>70%</B> reduction in severity of omicron infection, relative to Delta (all-age risk of hospitalization and death times 0.3; age-specific risks at teams discretion) among <em>all immune classes</em></br></div></br> 
      <span class="left" style="font-size:18px;"><em>Example:</em> A vaccinated person infected with Omicron has 30% the probability of death of a vaccinated person with Delta. Similarly, a naive person infected with Omicron has 30% the probability of death of a naive person infected with Delta.</span>      
    </td>
  </tr>
  <tr>
    <td valign="top" style="border-right:3px solid #2daed8;background-color: #f7f7f7;">
      <spam style="font-size:22px;"><b>Pessimistic Severity</b></spam></br></td>
    <td style="background-color: #fdfdfd;">
     <spam style="font-size:22px;color:#2daed8;" class="right"><b>Scenario C</b></spam></br>
     <spam class="left" style="font-size:20px;"><b>Immune Escape</b></br></spam></br></br>
      <div style="font-size:18px;">- Immune escape = <b>80% of previously immune are susceptible to infection</b></div>
      <div style="font-size:18px;">- All other transmission characteristics <b>at discretion of teams</b></div>
      <div style="font-size:18px;">- Lower levels of escape can be assumed for recently boosted individuals at discretion</div>
      <hr style="border: 0.5px solid;border-color: #E4E4E4;margin-left:20px;margin-right:20px;margin-top:50px;">
     <spam style="font-size:20px;"><b>Severity</b></spam></br>
      <div style="font-size:18px;">- <B>30%</B> reduction in severity of omicron infection, relative to Delta (all-age risk of hospitalization and death times 0.7; age-specific risks at teams discretion) among <em>all immune classes.</em></br></div></br> 
      <span class="left" style="font-size:18px;"><em>Example:</em>
      Similar to above, but with 70% of the probability of death as
      compared to the Delta infection.</span>
    </td>
    <td style="border-left:3px solid #bfbfbf;background-color: #fdfdfd;vertical-align:top;">
     <spam style="font-size:22px;color:#2daed8;" class="right"><b>Scenario D</b></spam></br>
     <spam class="left" style="font-size:20px;"><b>Immune Escape</b></br></spam></br></br>
      <div style="font-size:18px;">- Immune escape = <b>50% of previously immune are susceptible to infection</b></div>
      <div style="font-size:18px;">- All other transmission characteristics <b>at discretion of teams</b></div>
      <div style="font-size:18px;">- Lower levels of escape can be assumed for recently boosted individuals at discretion</div>
      <hr style="border: 0.5px solid;border-color: #E4E4E4;margin-left:20px;margin-right:20px;margin-top:50px;">
      <spam style="font-size:20px;"><b>Severity</b></spam></br>
      <div style="font-size:18px;">- <B>30%</B> reduction in severity of omicron infection, relative to Delta (all-age risk of hospitalization and death times 0.7; age-specific risks at teams discretion) among <em>all immune classes.</em></br></div></br> 
      <span class="left" style="font-size:18px;"><em>Example:</em>
      Similar to above, but with 70% of the probability of death as
      compared to the Delta infection.</span>
    </td>
  </tr>
</table>
<hr style="border-top:1.5px dotted #bfbfbf;margin-left:15%;margin-right:15%;margin-top:50px">
</br>
<div style="font-size:18px;margin-left:15%;margin-right:15%;color: #2d5973"> * Note that it's expected that with lower immune escape, transmissibility should be higher and vice versa.</div>
</html>
